<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sandcastle.partyup</string>
  <key>ProgramArguments</key>
  <array>
    <string>sh</string>
    <string>-c</string>
    <string>launchctl setenv PARTYUP_FACEBOOK_APP_ID ""</string>
	<string>launchctl setenv PARTYUP_ENCRYPTION_EXPORT_COMPLIANCE ""</string>
	<string>launchctl setenv PARTYUP_APPLE_STORE_ID ""</string>
	<string>launchctl setenv PARTYUP_FLURRY_APP_ID ""</string>
	<string>launchctl setenv PARTYUP_AWS_IDENTITY_POOL ""</string>
	<string>launchctl setenv PARTYUP_GOOGLE_PLACES_ID ""</string>
	<string>launchctl setenv PARTYUP_SURVEY_MONKEY_ID ""</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>