<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>messages</key>
		<array>
			<string>It&apos;s Friday, let&apos;s get turnt 😜</string>
			<string>Tonight is going to be EPIC 😁</string>
			<string>we&apos;re a little durnk rigt now</string>
			<string>Happy Friday! Keep your friends close and the vodka closer 🍸</string>
			<string>Friday, Friday, gotta PartyUP on Friday 💁🏼</string>
			<string>It&apos;s Freaky Friday, let&apos;s raaaage!</string>
			<string>My name&apos;s PartyUP, and I like to Party 👨🏻</string>
			<string>Let&apos;s kill it this weekend! 💃</string>
		</array>
		<key>action</key>
		<string>find a party</string>
		<key>whens</key>
		<array>
			<dict>
				<key>weekday</key>
				<integer>6</integer>
				<key>hour</key>
				<integer>22</integer>
				<key>minute</key>
				<integer>30</integer>
				<key>range</key>
				<integer>20</integer>
			</dict>
		</array>
		<key>prebook</key>
		<integer>10</integer>
		<key>randomize</key>
		<true/>
		<key>tag</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>messages</key>
		<array>
			<string>Saturdays were made for partying! Have fun tonight 💃</string>
			<string>We&apos;re ready to rage tonight, are you? 😉</string>
			<string>It&apos;s Saturday Night baby, time to #PartyUP</string>
			<string>To TurnUP or not to TurnUP, that is a dumb question. 😈</string>
			<string>Let&apos;s get crazy tonight 😝</string>
			<string>Tonight is going to be Legen.....dary</string>
			<string>24 Hours in a day, 24 beers in a case. Coincidence?</string>
			<string>No Ragrets. Let&apos;s Party! 😊</string>
		</array>
		<key>action</key>
		<string>find a party</string>
		<key>whens</key>
		<array>
			<dict>
				<key>weekday</key>
				<integer>7</integer>
				<key>hour</key>
				<integer>22</integer>
				<key>minute</key>
				<integer>30</integer>
				<key>range</key>
				<integer>20</integer>
			</dict>
		</array>
		<key>prebook</key>
		<integer>10</integer>
		<key>randomize</key>
		<true/>
		<key>tag</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>messages</key>
		<array>
			<string>How&apos;s the party? Have a crazy night! 😎</string>
		</array>
		<key>action</key>
		<string>find a party</string>
		<key>whens</key>
		<array>
			<dict>
				<key>weekday</key>
				<integer>7</integer>
				<key>hour</key>
				<integer>0</integer>
				<key>minute</key>
				<integer>30</integer>
				<key>range</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>weekday</key>
				<integer>1</integer>
				<key>hour</key>
				<integer>0</integer>
				<key>minute</key>
				<integer>30</integer>
				<key>range</key>
				<integer>20</integer>
			</dict>
		</array>
		<key>prebook</key>
		<integer>-1</integer>
		<key>randomize</key>
		<false/>
		<key>tag</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>messages</key>
		<array>
			<string>The night is young, let&apos;s keep the party going 💃🏻</string>
		</array>
		<key>action</key>
		<string>find a party</string>
		<key>whens</key>
		<array>
			<dict>
				<key>weekday</key>
				<integer>7</integer>
				<key>hour</key>
				<integer>1</integer>
				<key>minute</key>
				<integer>45</integer>
				<key>range</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>weekday</key>
				<integer>1</integer>
				<key>hour</key>
				<integer>1</integer>
				<key>minute</key>
				<integer>45</integer>
				<key>range</key>
				<integer>20</integer>
			</dict>
		</array>
		<key>prebook</key>
		<integer>-1</integer>
		<key>randomize</key>
		<false/>
		<key>tag</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
