<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoQuality</key>
	<string>AVCaptureSessionPresetMedium</string>
	<key>VenueCategories</key>
	<string>4bf58dd8d48988d11b941735,4bf58dd8d48988d11e941735,4bf58dd8d48988d121941735,4bf58dd8d48988d11f941735,4bf58dd8d48988d1e5931735</string>
	<key>SampleRadius</key>
	<integer>75</integer>
	<key>ListRadius</key>
	<real>25000</real>
	<key>StaleSampleInterval</key>
	<integer>28800</integer>
	<key>CameraJump</key>
	<true/>
</dict>
</plist>
