<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VideoQuality</key>
	<string>AVCaptureSessionPresetMedium</string>
	<key>VenueCategories</key>
	<string>bar|night_club</string>
	<key>SampleRadius</key>
	<integer>75</integer>
	<key>ListRadius</key>
	<real>25000</real>
	<key>StaleSampleInterval</key>
	<integer>2592000</integer>
	<key>CameraJump</key>
	<true/>
	<key>StickyTowns</key>
	<array>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>44.6497</real>
				<key>longitude</key>
				<real>-63.5761</real>
			</dict>
			<key>city</key>
			<string>Halifax</string>
			<key>province</key>
			<string>NS</string>
			<key>country</key>
			<string>Canada</string>
			<key>name</key>
			<string>Downtown Halifax, Nova Scotia</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>46.1380869</real>
				<key>longitude</key>
				<real>-60.1946735</real>
			</dict>
			<key>city</key>
			<string>Sydney</string>
			<key>province</key>
			<string>NS</string>
			<key>country</key>
			<string>Canada</string>
			<key>name</key>
			<string>Downtown Sydney, Nova Scotia</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>43.6427</real>
				<key>longitude</key>
				<real>-79.3888</real>
			</dict>
			<key>city</key>
			<string>Toronto</string>
			<key>province</key>
			<string>ON</string>
			<key>country</key>
			<string>Canada</string>
			<key>name</key>
			<string>Toronto Entertainment District</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>45.5124</real>
				<key>longitude</key>
				<real>-73.56319999999999</real>
			</dict>
			<key>city</key>
			<string>Montreal</string>
			<key>province</key>
			<string>QC</string>
			<key>country</key>
			<string>Canada</string>
			<key>name</key>
			<string>Quartier Des Spectacles, Montreal</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>40.7589</real>
				<key>longitude</key>
				<real>-73.9851</real>
			</dict>
			<key>city</key>
			<string>New York</string>
			<key>province</key>
			<string>NY</string>
			<key>country</key>
			<string>United States</string>
			<key>name</key>
			<string>Times Square, New York City</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>40.787</real>
				<key>longitude</key>
				<real>-73.97539999999999</real>
			</dict>
			<key>city</key>
			<string>New York</string>
			<key>province</key>
			<string>NY</string>
			<key>country</key>
			<string>United States</string>
			<key>name</key>
			<string>Upper West Side, New York City</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>36.1147</real>
				<key>longitude</key>
				<real>-115.1728</real>
			</dict>
			<key>city</key>
			<string>Las Vegas</string>
			<key>province</key>
			<string>NV</string>
			<key>country</key>
			<string>United States</string>
			<key>name</key>
			<string>Las Vegas Strip</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>34.0913</real>
				<key>longitude</key>
				<real>-118.3794</real>
			</dict>
			<key>city</key>
			<string>Los Angeles</string>
			<key>province</key>
			<string>CA</string>
			<key>country</key>
			<string>United States</string>
			<key>name</key>
			<string>Sunset Strip, Los Angeles</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>34.0928</real>
				<key>longitude</key>
				<real>-118.3287</real>
			</dict>
			<key>city</key>
			<string>Los Angeles</string>
			<key>province</key>
			<string>CA</string>
			<key>country</key>
			<string>United States</string>
			<key>name</key>
			<string>Hollywood Blvd, Los Angeles</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>38.8838</real>
				<key>longitude</key>
				<real>1.4059</real>
			</dict>
			<key>city</key>
			<string>Playa D&apos;en Bossa</string>
			<key>province</key>
			<string>IB</string>
			<key>country</key>
			<string>Spain</string>
			<key>name</key>
			<string>Playa D&apos;en Bossa, Ibiza</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>38.9826</real>
				<key>longitude</key>
				<real>1.3015</real>
			</dict>
			<key>city</key>
			<string>San Antonio</string>
			<key>province</key>
			<string>IB</string>
			<key>country</key>
			<string>Spain</string>
			<key>name</key>
			<string>San Antonio, Ibiza</string>
		</dict>
		<dict>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>25.7826</real>
				<key>longitude</key>
				<real>-80.1341</real>
			</dict>
			<key>city</key>
			<string>Miami</string>
			<key>province</key>
			<string>FL</string>
			<key>country</key>
			<string>United States</string>
			<key>name</key>
			<string>South Beach, Miami</string>
		</dict>
	</array>
	<key>Tutorial</key>
	<true/>
	<key>TutorialViewed</key>
	<array/>
	<key>Terms</key>
	<false/>
	<key>SampleSuppressionThreshold</key>
	<integer>-5</integer>
	<key>RemindersInterface</key>
	<true/>
	<key>RemindersInterval</key>
	<integer>0</integer>
	<key>FeedNavigatorArrows</key>
	<false/>
	<key>SeedFacebookTimeline</key>
	<integer>3</integer>
	<key>SeedFacebookBroadcast</key>
	<integer>1</integer>
	<key>SeedFacebookVideo</key>
	<integer>3</integer>
	<key>SeedStaleInterval</key>
	<integer>604800</integer>
</dict>
</plist>
