<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Video Quality</string>
			<key>Key</key>
			<string>VideoQuality</string>
			<key>DefaultValue</key>
			<string>AVCaptureSessionPresetMedium</string>
			<key>Values</key>
			<array>
				<string>AVCaptureSessionPresetLow</string>
				<string>AVCaptureSessionPresetMedium</string>
				<string>AVCaptureSessionPresetHigh</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Low</string>
				<string>Medium</string>
				<string>High</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Venue Categories</string>
			<key>Key</key>
			<string>VenueCategories</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Stale Sample Interval (seconds)</string>
			<key>Key</key>
			<string>StaleSampleInterval</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Jump To Camera</string>
			<key>Key</key>
			<string>CameraJump</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sample Venue Radius</string>
			<key>FooterText</key>
			<string>The distance tolerance when selecting a venue to associate with a sample. (between 10 and 5000 meters)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>SampleRadius</string>
			<key>DefaultValue</key>
			<integer>75</integer>
			<key>MinimumValue</key>
			<real>10</real>
			<key>MaximumValue</key>
			<integer>5000</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Venue List Radius</string>
			<key>FooterText</key>
			<string>The radius within which venues will be requested from Foursquare. (between 5000 and 50000 meters)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>ListRadius</string>
			<key>DefaultValue</key>
			<integer>25000</integer>
			<key>MinimumValue</key>
			<integer>5000</integer>
			<key>MaximumValue</key>
			<integer>50000</integer>
		</dict>
	</array>
</dict>
</plist>
